/* CSS file for the E-commerce Product Listing App main components */
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 16, 36);
    height: 100vh;
    width: 100vw;
}

.product-container {
    font-family: 'Montserrat', sans-serif;
    color: #a9ffe2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #a9ffe2;
    border-radius: 50px;
    background-color: cadetblue;
}

.product-container h1 {
    padding: 1rem 0;
}

/* Product list styling */
.product-list {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: .5rem 0;
}

/* Responsive styling for the product container and list */
@media screen and (min-width: 1600px) {
    .product-container {
        max-width: 1600px;
    }

    .product-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .product-container {
        max-width: 1200px;
    }

    .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .product-container {
        max-width: 768px;
    }
    
    .product-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1px) and (max-width: 767px) {
    .product-container {
        max-width: 100%;
    }
    
    .product-list {
        grid-template-columns: 1fr;
    }

    .product-list .product-item img{
        max-width: 150px;
    }
}

/*ProductItem styling*/
.product-list .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: transform 0.2s, box-shadow 0.2s;
    max-width: 300px;
}

.product-list .product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px #000;
}

.product-list .product-item img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

/*ProductItem table styling*/
.product-list .product-item .product-details .product-table {
    color: rgb(22, 16, 36);
    border: 1px solid rgb(22, 16, 36);
    margin: .5rem;
    border-collapse: collapse;
}

.product-table thead tr th {
    border-bottom: 2px solid rgb(22, 16, 36);
    padding: 0.25rem;
}

.product-table tbody tr th {
    border-right: 1px solid rgb(22, 16, 36);
    border-bottom: 1px solid rgb(22, 16, 36); 
    padding: 0.25rem;
    text-align: center;
}

.product-table tbody tr td {
    border-bottom: 1px solid rgb(22, 16, 36); 
    padding: 0.25rem;
    text-align: center;
}

/* Hover effect for table cells to highlight hovered over cell*/
tbody th:hover, tbody td:hover {
    background-color: #a9ffe2;
    color: rgb(22, 16, 36);
}

#product-1 {

}

#product-2 {

}

#product-3 {

}

#product-4 {

}

#product-5 {

}

#product-6 {

}